<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/Boogle_Login_Style.css" type="text/css" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css?family=Open+Sans'); </style>
    <title>Boogle-Login</title>
</head>
<body>

    <p>
        <a href="/portfolio">Back to Portfolio</a>
    </p>
<!--
<div class="navigation">

    <div class="navigation_right">
        <a target="_blank" href="https://www.google.com/intl/de/gmail/about/">Gmail</a>
        <a href="#">Bilder</a>
        <a href="#">Google Apps</a>
    </div>

    <form class="form-signin">
        <button type="submit">Anmelden</button>
    </form>

</div>
-->
<div class="container">

    <div class="left">
    </div>

    <div class="main">
        <div>
            <img src="/static/img/boogle.jpeg" width="200px" alt="boogle logo">
        </div>

        <div style="font-family: Open+Sans" >
            <h1>Einmal Anmelden. Alle Boogle-Produkte nutzen.</h1>
        </div>

        <div>
            <h3>Mit ihrem Booble-Konto anmelden</h3>
        </div>

        <div class="container1">
            <img src="/static/img/anonymous.jpg" width="150px" alt="profile picture">

            <form class="form-signin">

                <input type="text" placeholder="Email Adresse oder Telefonnummer" required autofocus>

                <button type="submit">Anmelden</button>

            </form>
         </div>

        <div>
            <a> Ein Boogle-Konto für alle Boogle-Dienste</a>
        </div>

    </div>


    <div class="right">
    </div>

</div>

</body>
</html>