<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>My favorite "Hair-Salon"</title>
</head>
<body>

    <p>
        <input type="button" class="btn btn-danger btn-rounded btn-sm" value="Back to Portfolio" onclick="window.location.href='/portfolio'" />
    </p>

    <h1>My favourite Hair-Salon</h1>

        <a target="_blank" href="https://www.barbervienna.at/">Dagy's Barbershop</a>

</body>
</html>