{% extends "base.html" %}

{% block title %}
    <title>Portfolio</title>
{% endblock title %}

{% block content %}
    <h3>More about my portfolio</h3>
  <!-- Link Fakebook, Boogle, Hair-Salon -->
    <!-- old code
        <a href="/portfolio/fakebook">Fakebook</a>,
        <a href="/portfolio/boogle">Boogle</a>,
        <a href="/portfolio/hair-salon">Hair-Salon</a>
    -->
    <!-- buttons, using bootstrap -->
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown link
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/portfolio/fakebook">Fakebook</a></li>
                <li><a class="dropdown-item" href="/portfolio/boogle">Boogle</a></li>
                <li><a class="dropdown-item" href="/portfolio/hair-salon">Hair-Salon</a></li>
              </ul>
            </div>

{% endblock content %}