
/* for more possibilities check out: https://www.w3schools.com/cssref/default.asp */

/* Header 1 Farbanpassung */
h1 {
    background-color: #A48F7A;
    text-shadow: 1px 2px 3px white;
    color: red;
    padding: 30px;
    text-align: center;
}

/* Header 2 Farbanpassung per Klasse */
.header2 {
    background-color: #E1C699;
    color: black;
    padding: 20px;
    text-align: center;
}

/* Texte zentrieren*/
.text1 {
    margin: 0 auto;
    width: 300px
    color: black;
    text-align: center;
}

/* Klasse .image für Foto */
.image {
    margin: 0 auto;
    width: 300px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.image:hover {
  width: 400px;
}

/* Klasse .music für Musik */
.music {
    padding: 10px;
    border: 6px black solid;
    margin: 20px;
    /*background: red; */
    transition: width 2s, height 4s;
    align-content: center;
}

.music:hover {
  border: 6px red solid;
  /*width: 300px;
  height: 300px; */
}

.centered {
    margin: 0 auto;
    width: 300px
}

